<h1>Collabs Component</h1>
<div *ngIf="selectedCollab">
  <h2>Détails de {{selectedCollab.nom}}: {{selectedCollab.matricule}}</h2>
  <div> <span>{{selectedCollab.matricule}}</span></div>
  <div>
    <label>Matricule:
      <input [ngModel]="selectedCollab.matricule" placeholder="matricule">
    </label>
  </div>
  <div>
    <label>Prénom NOM:
      <input [ngModel]="selectedCollab.nom" placeholder="nom">
    </label>
  </div>
  <div>
    <label>Sexe:
      <input [ngModel]="selectedCollab.sexe" placeholder="sexe">
    </label>
  </div>
</div>

<h2> Listing collabs </h2>
<ul class="collabs">
  <li *ngFor="let collab of collabs" [class.selected]="collab ===  selectedCollab" (click)="onSelect(collab)" >
    <span class="sai">{{collab.matricule}}</span> {{collab.nom}}
  </li>
</ul>
